<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Add Game</title>
</head>
<body>
    {% block menu %}
    <nav class="text-center">
    <a href="/dashboard/">Home</a>
    <a href="/addGame/">Add Game Information</a>
    <a href="/logout/">Logout</a>
    </nav>
    {% endblock menu %}
</body>
</html>