<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <main>
        
        <div class="row">
            
            <div class="col">
                <h1>Home Team: {{game.team1}}</h1>
                <h1>Away Team: {{game.team2}}</h1>
                <h1>Playing: {{game.team1}} vs {{game.team2}}</h1>
                <h1>Final Score: {{game.finalScore}}</h1>
            </div>
            <div class="col">
                <h1>Game Description: {{game.gameInfo}}</h1>
                <h1>Game Date : {{game.gameDate}}</h1>
                <h1>Game Record By : {{game.firstName}}</h1>
            </div>
            <button class="d-flex flex-end"><a href="/editGame/{{game.id}}/edit/">Edit</a>  </button>

        </div>
        
        
    </main>
</body>
</html>